li {
    margin-top: 16px;
}
 ul>li:first-child>span{
    background-color:red;
    color:white;
 }
 ul>li:last-child>span{
     background-color: black;
     color:white;
 }
 ul>li:nth-of-type(odd)>span{
     margin-left: 16px;
 }
 .paragraphs p:nth-last-of-type(even){
    background-color:grey;
 }